body{
  margin: 0;
  padding: 0;
  
}
.cont{
  
  display: inline-flex;
  margin: 0;
  padding:0;
  height: 100%;
  ;
  
}

.left{
  background-color: rgb(225, 222, 222);
  padding:20px 10px 0px 15px;
  width: 270px;
  height: 550px;

}
.right{
  margin: 10px 10px 0px 10px ;
}

